.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgrey;
  padding: 10px 20px;
  color: white;
  border-radius: 5vh;
}

.header-title {
  margin: 0;
  font-size: 1.5em;
}

.search-bar {
  position: relative;
  margin-left: 20px;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5vh;
}

.search-results {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  position: absolute;
  background-color: grey;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  border-radius: 5vh;
}

.search-results li {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 5vh;
  background-color: darkgrey;
  color: whitesmoke;
}

.search-results button {
  width: 100%;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 16px;
  text-align: left;
  border-radius: 5vh;
}

.search-results button:hover {
  background-color: grey;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: grey;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5vh;
}

.dropdown-toggle:hover {
  background-color: black;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: grey;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
  border-radius: 5vh;
}

.dropdown-item {
  padding: 16px;
  text-decoration: none;
  color: whitesmoke;
  font-style: italic;
}

.dropdown-item:hover {
  background-color: darkgrey;
  border-radius: 10vh;
}
