.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 246, 247);
  padding: 10px 20px;
  color: black;
  border-radius: 5vh;
}
  
.header-title {
  margin: 0;
  font-size: 1.5em;
}
  
.header .dropdown {
  position: relative;
}