.dog-container {
    text-align: center;
    margin-top: 20px;
    border: 3px solid darkslategrey;
    border-radius: 5vh;
}
  
.randomize-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5vh;
    cursor: pointer;
    font-size: 16px;
}
  
.randomize-button:hover {
    background-color: lightslategrey;
}
  
.dog-image-wrapper {
    margin-top: 20px;
}
  
.dog-image-container {
    transition: transform 0.5s ease-in-out;
}
  
.dog-image-container.bounce-out {
    transform: scale(0.1);
}
  
.dog-image {
    max-width: 100%;
    height: auto;
    border-radius: 5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  