/* LandingPage.css */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
.landing-page-header {
    background-color: darkgrey;
    padding: 20px;
    border-radius: 5vh;
}
  
.landing-page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
  
.introduction {
    width: 80%;
    margin-bottom: 20px;
}
  
.image-sections {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}
  
.image-section {
    position: relative;
    flex: 1;
    text-align: center;
}
  
.image-section h2 {
    position: absolute;
    top: -40px;  /* Adjust this value based on your needs */
    left: 50%;
    transform: translateX(-50%);
}
  
.api-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5vh;
    padding: 20px;
}
  
.api-image > div {
    margin: 0 10px;
}

.oldProject {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}